// {{ ansible_managed }}
//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
{% if dns_type == "internal" %}//{% endif %}include "/etc/bind/zones.rfc1918";

include "/etc/bind/rndc.key";

// controls {
//         inet 127.0.0.1 allow {
//         127.0.0.1;
//         }
//         keys {
//                 "rndc-key";
//         };
// };
// 
// acl "local" {
//         127.0.0.1;
//         192.168.1.0/24;
// };
// 
// acl "recurseallow" {
//         # Allowed ip for recursive requests
//         127.0.0.1;
//         192.168.1.0/24;
// };
// 
// zone "local.lan" {
//         type master;
//         file "/etc/bind/zones/local.lan";
//         notify no;
//         allow-update {
//                 key rndc-key;
//         };
// };
// 
// zone "1.168.192.in-addr.arpa" {
//         type master;
//         file "/etc/bind/zones/192.168.1";
//         notify no;
//         allow-update {
//                 key rndc-key;
//         };
// };
