// {{ ansible_managed }}. role: dns, template: named.conf.local.j2
//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
{% if dns_type == "internal" %}//{% endif %}include "/etc/bind/zones.rfc1918";

include "{{ dns_keyfile }}";

controls {
        inet {{ dns_control }} allow {
                {{ dns_control }};
        }
        keys {
                "rndc-key";
        };
};
{% if dns_queryallow is defined %}
acl "queryallow" {
        127.0.0.1;
{% for subnet in dns_queryallow %}
        {{ subnet }};
{% endfor %}
};
{% endif %}
{% if dns_role == "master" %}

acl "slaves" {
{% for slave in ansible_play_hosts %}
{% if hostvars[slave].ansible_default_ipv4.address != ansible_default_ipv4.address %}
        {{ hostvars[slave].ansible_default_ipv4.address }};
{% endif %}
{% endfor %}
};
{% endif %}
{% if dns_localnet is defined %}

acl "local" {
        127.0.0.1;
        {{ dns_localnet }};
};{% endif %}
{% if dns_recurseallow is defined %}

acl "recurseallow" {
        # Allowed ip for recursive requests
        127.0.0.1;
{% for subnet in dns_recurseallow %}
        {{ subnet }};
{% endfor %}
};
{% endif %}
{% if dns_transferallow is defined %}

acl "transferallow" {
        # Allowed ip for transfer requests
        127.0.0.1;
{% for subnet in dns_transferallow %}
        {{ subnet }};
{% endfor %}
};
{% endif %}
{% if dns_zones is defined %}
{% for zone in dns_zones %}

zone "{{ zone.name }}" {
        type {{ dns_role }};
{% if dns_role == 'master' %}
        file "/etc/bind/zones/{{ zone.file }}";
{% else %}
        file "/var/lib/bind/{{ zone.file }}";
{% endif %}
{% if dns_role == 'master' %}
        notify yes;
        allow-update {
                key rndc-key;
        };
{% else %}
        masters { {{ hostvars[dns_master].ansible_default_ipv4.address }}; };
{% endif %}
};
{% endfor %}
{% endif %}
