// {{ ansible_managed }}
//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
{% if dns_type == "internal" %}//{% endif %}include "/etc/bind/zones.rfc1918";

include "/etc/bind/rndc.key";

controls {
        inet {{ dns_control }} allow {
                {{ dns_control }};
        }
        keys {
                "rndc-key";
        };
};

acl "local" {
        127.0.0.1;
        {{ dns_localnet }};
};

acl "recurseallow" {
        # Allowed ip for recursive requests
        127.0.0.1;
        {{ dns_localnet }};
};
{% for zone in dns_zones %}

zone "{{ zone.name }}" {
        type {{ dns_role }};
        file "/etc/bind/zones/{{ zone.file }}";
        notify {% if dns_role == 'master' %}yes{% else %}no{% endif %};
        allow-update {
                key rndc-key;
        };
};
{% endfor %}
