# {{ ansible_managed }}
#
# All files which where originally there after bind9 installation have been
# moved to the chroot: {{ dns_chroot }}/etc/bind.
# Except : K* rndc key files and rndc.key
#
# All files remaining here should be merged to the chroot if applicable.
