$TTL    604800
@ IN SOA {{ dns_domain }}. root.{{ dns_domain }}. (
        1         ; Serial
   604800         ; Refresh
    86400         ; Retry
  2419200         ; Expire
   604800 )       ; Negative Cache TTL

{% for ns in ansible_play_hosts %}
     NS {{ ns }}.{{ dns_domain }}.
{% endfor %}
