$TTL {{ dns_ttl }}
@ IN SOA {{ ansible_fqdn }}. {{ dns_soa_email }}.{{ dns_domain }}. (
    {{ ansible_date_time.year }}{{ ansible_date_time.month }}{{ ansible_date_time.day }}01 ; serial
    {{ dns_soa_refresh }} ; refresh
    {{ dns_soa_retry }} ; retry
    {{ dns_soa_expire }} ; expire
    {{ dns_soa_minimum }} ; minimum
    ) 

{% for ns in ansible_play_hosts %}
     NS {{ ns }}.{{ dns_domain }}.
{% endfor %}
